body {
font-family: Georgia, 'Times New Roman', Times, serif;
margin: auto;
width: 40%;
background-color: rgba(3, 3, 3, 0.884);
width: "logo.png";
text-align: center;
    
}    
.grid-container {
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 10px;
}

fieldset {
background-color: rgba(54, 54, 54, 0.778);
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
}

div {
margin-top: 2px;
margin-bottom: 2px;
color: rgb(255, 255, 255);
text-align: center;
}

legend {
font-weight: bold;
color: rgba(255, 255, 255, 0.916);   
text-align: center;
}